<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>gallery</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="icon" href="/images?file=favicon2.ico">
    </head>
    <section class="vh-100" style="background-color: #342e2e;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-md-9 col-lg-7 col-xl-5">
              <div class="card" style="border-radius: 15px; background-color: #93d3e2;">
                <div class="card-body p-4 text-black">
                  <div>
                    <h6 class="mb-4">Speaker ticket</h6>
                    <div class="d-flex align-items-center justify-content-between mb-3">
                      <p class="small mb-0"><i class="far fa-clock me-2"></i>3 hrs</p>
                      <p class="fw-bold mb-0">$100</p>
                    </div>
                  </div>
                  <div class="d-flex align-items-center mb-4">
                    <div class="flex-shrink-0">
                      <img src="https://i.pinimg.com/564x/13/aa/ed/13aaed98f7a071284fbd7d9d72b07634.jpg"
                        alt="Generic placeholder image" class="img-fluid rounded-circle border border-dark border-3"
                        style="width: 80px; height: 80px; margin-right: 15px;">
                    </div>
                    <div class="flex-grow-1 ms-3">
                      <div class="d-flex flex-row align-items-center mb-2">
                        <p class="mb-0 me-2">@Potee</p>
                        <ul class="mb-0 list-unstyled d-flex flex-row" style="color: #1B7B2C;">
                          <li>
                            <i class="fas fa-star fa-xs"></i>
                          </li>
                          <li>
                            <i class="fas fa-star fa-xs"></i>
                          </li>
                          <li>
                            <i class="fas fa-star fa-xs"></i>
                          </li>
                          <li>
                            <i class="fas fa-star fa-xs"></i>
                          </li>
                          <li>
                            <i class="fas fa-star fa-xs"></i>
                          </li>
                        </ul>
                      </div>
                      <div>
                        <button type="button" class="btn btn-outline-dark btn-rounded btn-sm"
                          data-mdb-ripple-color="dark">+ Main area</button>
                        <button type="button" class="btn btn-outline-dark btn-rounded btn-sm"
                          data-mdb-ripple-color="dark">+ Cyber field</button>
                          <button type="button" class="btn btn-outline-dark btn-rounded btn-sm"
                          data-mdb-ripple-color="dark">+ Speaker zone</button>
                          <button type="button" class="btn btn-outline-dark btn-rounded btn-sm"
                          data-mdb-ripple-color="dark">+ vip zone</button>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <p class="my-4 pb-1">45 left</p>
                  <form method="POST">
                    <input type="hidden" name="product-id" value="5">
                    <button type="submit" class="btn btn-info btn-rounded btn-block btn-lg"><i
                      class="far fa-clock me-2"></i>Buy now</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</html>